* {
            margin: 0;
            padding: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        html,
        body {
            width: 100vw;
            height: 100vh;
            background-color: #233eff;
            background-size: contain;
            background-repeat: no-repeat;
        }

        h1 {
            color: aliceblue;
            text-shadow: 3px 3px 0px #142186;
            padding: 10px;
        }

        /* retrato */
        @media screen and (orientation: portrait) {
            body {
                background-image: url(img/cev-portrait.jpg);
                background-position: center bottom;
            }
        }

        /* paisagem */
        @media screen and (orientation: landscape) {
            body {
                background: url(img/cev-landscape.jpg);
                background-position: left bottom;
                background-repeat: no-repeat;
            }
        }