body {
    background-color: rgb(247, 200, 247);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(68, 54, 68);
}

#principal{
    text-align: center;
}

h2{
    color: rgb(125, 97, 125);
}

.basico {
    color: rgb(0, 217, 255);
    font-weight: bold;
}

.avancado {
    color: red;
}

.destaque {
    background-color: blueviolet;
}
