@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #10454F, #818274);
}

main {
    background-color: #506266;
    color: #818274;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: -5px 5px 15px #0c353d70;

}

h1 {
    color: #10454F;
    text-align: center;
    text-shadow: 1px 1px 1px #0c333b;
}

h2 {
   color: #10454F; 
}

p {
    text-align: justify;
}